h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

body {
  background-color: tomato;
}

/* ========== MIN-WIDTH MAX-WIDTH ========== */
/* 400px+ */
/* @media (min-width: 400px) {
  body {
    background-color: teal;
  }
} */

/* 768px+ */
/* @media (min-width: 768px) {
  body {
    background-color: yellowgreen;
  }
} */

/* 0px - 767px */
/* @media (max-width: 767px) {
  body {
    background-color: teal;
  }
} */

/* 0px - 500px */
/* @media (max-width: 500px) {
  body {
    background-color: yellowgreen;
  }
} */

/* ========== AND ========== */
/* 
768px+ true
0px - 1199px true
*/
/* @media (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: teal;
  }
} */
/* ========== OR ========== */
/* 
0px - 767px false
1200px+ false
*/
/* @media (max-width: 767px), (min-width: 1200px) {
  body {
    background-color: teal;
  }
} */

/* ========== TYPES ========== */
/* 
  all
  screen 
  print
*/
/* @media screen and (min-width: 768px) {
  body {
    background-color: teal;
  }
} */

/* @media print {
  .btn {
    display: none;
  }

  .menu {
    display: none;
  }

  .social-list {
    display: none;
  }

  .sec {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .titel {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .text {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
} */

/* ========== ORIENTATION ========== */
/* @media screen and (orientation: portrait) {
  body {
    background-color: teal;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  body {
    background-color: yellowgreen;
  }
} */
