.hero {
  padding-top: 395px;
  padding-bottom: 20px;
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url('../../images/hero/bg-mobile.jpg');
  background-size: cover;
  border-radius: 30px;
}

/* 
2x+
0px - 767px
*/
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url('../../images/hero/bg-mobile@2x.jpg');
  }
}

.main-title {
  max-width: 280px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.6px;
  color: var(--text-color-theme-dark);
  margin-bottom: 32px;
}

.buy-now-btn {
  min-width: 120px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--accent-color);
  color: var(--text-color-theme-dark);
  border-radius: 100px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 14px;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
}

.how-made-link {
  min-width: 159px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  border: 1px solid #ffffff;
  text-align: center;
  color: var(--text-color-theme-dark);
  transition: border-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.how-made-link:hover,
.how-made-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.scroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.36px;
  color: var(--text-color-theme-dark);
  transition: color var(--transition-dur-and-func);
  margin-top: 32px;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: var(--accent-color);
}

.scroll-down-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: var(--text-color-theme-dark);
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}

.scroll-down-icon {
  fill: var(--accent-color);
  transition: fill var(--transition-dur-and-func);
}

.scroll-down-link:hover .scroll-down-icon-wrapper,
.scroll-down-link:focus .scroll-down-icon-wrapper {
  background-color: var(--accent-color);
}

.scroll-down-link:hover .scroll-down-icon,
.scroll-down-link:focus .scroll-down-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 671px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url('../../images/hero/bg-tablet.jpg');
  }

  .main-title {
    max-width: 484px;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.84px;
  }

  .hero-bottom-block {
    display: flex;
    align-items: center;
  }

  .buy-now-btn {
    min-width: 144px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .how-made-link {
    min-width: 183px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .scroll-down-link {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.42px;
    margin-top: 0;
    margin-left: auto;
  }

  .scroll-down-icon-wrapper {
    width: 38px;
    height: 38px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url('../../images/hero/bg-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 381px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url('../../images/hero/bg-desktop.jpg');
  }

  .main-title {
    max-width: 470px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url('../../images/hero/bg-desktop@2x.jpg');
  }
}
